<h1>Collection of Libraries</h1>


<% @libraries.each do |library|  %>
  <% if library.url == "/adventures"  %>
    <h3><%= link_to "My Library", library.url %></h3>
  <% else %>
    <% if library.name %>
      <h3><%= link_to library.name, library.url+"adventures" %></h3>
    <% else %>
      <h3><%= link_to library.adventures.first.author, library.url+"adventures" %></h3>
    <% end %>
    <ul>
      <% library.adventures.each do |a|%>
        <li><%= link_to "#{a.title}", adventure_page_path(a, a.pages.find_by_name("start")) %> by <%= a.author %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>